*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing:border-box;
}

body{
    background-image:url("http://static.asiawebdirect.com/m/bangkok/portals/vietnam/homepage/hoi-an/pagePropertiesImage/hoi-an.jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left:25px;

}

.container{
    background:#fcfbe8;
    border:0px solid;
    border-radius:0.8em;
    box-shadow: black 10px 12px;
    position:absolute;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
    
}
.container ul{

    list-style-type: none;
}
.container li{
    font-size: 20px;
    margin-bottom:30px;
  }
  .container a{
    background: rgb(85, 9, 9);
    color: rgb(240, 240, 240);
    border: 0px solid;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
  }
  .container a:hover{
    background:rgb(224, 217, 208);
    color:#631903;  
    border: 0px solid;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    
  }
.content{
    position:absolute;
    max-width: 60%;
    height:auto;
    padding:10px;
    margin-bottom:20px;
    border:#631903 solid 1px;
    border-radius:10px;
    background-color: #fcfbe8;
    left:50%;
    transform: translate(-50%,0)
}
img{
    width: 500px;
    height: auto;
}
img:hover{
    width:600px;
    height:auto;
}
h1{
    color:brown;
    font-weight:bold;
}
.navigate{
    position:fixed;
    top:10px;
    right:40px;
}
#navigate{
    text-align:right;
    display:block;
    line-height:30px;
    color: #631903;
}
