*{
    background-color:blanchedalmond;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom:10px;
    padding-bottom:10px;
}
.container{
    text-align:center;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,0);
}
img{
    width: 400px;
    height: auto;
}
img:hover{
    width:600px;
    height:auto;
}
h1{
    color:brown;
    font-weight:bold;
}
a{
    display:block;
    color: #631903;
}
