*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing:border-box;
}

body{
    background-color:rgb(224, 217, 208);
  
}

.container{
    position:absolute;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
  
}
.content{
    max-width: 60%;
    height:auto;
    padding:10px;
    border:#631903 solid 1px;
    border-radius:5px;
    background-color: #fcfbe8;
}
img{
    width: 500px;
    height: auto;
}
img:hover{
    width:600px;
    height:auto;
}
h1{
    color:brown;
    font-weight:bold;
}
#navigate{
    line-height:30px;
    display:block;
    color: #631903;
}
